
<app-toasts></app-toasts>

<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{componant[Id]}}</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
    (click)="modalN.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="modal-body" [ngSwitch]="Id">

  <form #heroForm="ngForm" *ngSwitchCase="'CategorysComponent'">
    <div class="form-group">
      <label for="number">الرقم</label>
      <input type="number" class="form-control" id="number" [ngClass]="{'error' : model.stnumber}" required disabled
        [(ngModel)]="model.number" name="number">
    </div>
    <div class="form-group">
      <label for="name">اسم الصنف</label>
      <input type="text" class="form-control" id="name" [ngClass]="{'error' : model.stname}" required
        [(ngModel)]="model.name" name="name">
    </div>
    <div class="form-group">
      <label for="salary">السعر</label>
      <input type="number" class="form-control" id="salary" [ngClass]="{'error' : model.stsalary}" required
        [(ngModel)]="model.salary" name="salary">
    </div>
    <div class="form-group">
      <label for="countries">الدولة</label>
      <select class="form-control" id="countries" [ngClass]="{'error' : model.stcountrie}" required
        [(ngModel)]="model.countrie" name="countrie">
        <option *ngFor="let countrie of  model.editCounts" [value]="countrie.name">{{countrie.name}}</option>
      </select>
    </div>

  </form>

  <form #heroForm="ngForm" *ngSwitchCase="Id==='ClientsComponent'|| Id==='SuppliersComponent'?Id:''">
    <div class="form-group">
      <label for="number" class="text-xs-right">الرقم</label>
      <input type="number" class="form-control" id="number" [ngClass]="{'error' : model.stnumber}" required disabled
        [(ngModel)]="model.number" name="number">
    </div>
    <div class="form-group">
      <label for="name">الاسم</label>
      <input type="text" class="form-control" id="name" [ngClass]="{'error' : model.stname}" required
        [(ngModel)]="model.name" name="name">
    </div>
    <div class="form-group">
      <label for="phone">الهاتف</label>
      <input type="number" class="form-control" id="phone" [ngClass]="{'error' : model.stphone}" required
        [(ngModel)]="model.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="address">العنوان</label>
      <input type="text" class="form-control" id="address" [ngClass]="{'error' : model.staddress}" required
        [(ngModel)]="model.address" name="address">
    </div>
  </form>

  <form #heroForm="ngForm" *ngSwitchCase="'StoresComponent'">
    <div class="form-group">
      <label for="number">رقم المخزن</label>
      <input type="number" class="form-control" id="number" [ngClass]="{'error' : model.stnumber}" required disabled
        [(ngModel)]="model.number" name="number">
    </div>
    <div class="form-group">
      <label for="name">اسم المخزن</label>
      <input type="text" class="form-control" id="name" [ngClass]="{'error' : model.stname}" required
        [(ngModel)]="model.name" name="name">
    </div>
    <div class="form-group">
      <label for="storekeeper">امين المخزن</label>
      <input type="text" class="form-control" id="storekeeper" [ngClass]="{'error' : model.ststorekeeper}" required
        [(ngModel)]="model.storekeeper" name="storekeeper">
    </div>
  </form>

  <form #heroForm="ngForm" *ngSwitchCase="'BranchComponent'">
    <div class="form-group">
      <label for="branchName">اسم الفرع</label>
      <input type="text" class="form-control" id="branchName" [ngClass]="{'error' : model.stbranchName}" required
        disabled [(ngModel)]="model.branchName" name="branchName">
    </div>
    <div class="form-group">
      <label for="name">الاسم</label>
      <input type="text" class="form-control" id="name" [ngClass]="{'error' : model.stname}" required
        [(ngModel)]="model.name" name="name">
    </div>
    <div class="form-group">
      <label for="pass">كلمة المرور</label>
      <input type="text" class="form-control" id="pass" [ngClass]="{'error' : model.stpass}" required
        [(ngModel)]="model.pass" name="pass">
    </div>

    <div class="form-group">
      <label for="phone">الهاتف</label>
      <input type="number" class="form-control" id="phone" [ngClass]="{'error' : model.stphone}" required
        [(ngModel)]="model.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="address">العنوان</label>
      <input type="text" class="form-control" id="address" [ngClass]="{'error' : model.staddress}" required
        [(ngModel)]="model.address" name="address">
    </div>
  </form>

  <div *ngSwitchCase="'InputComponent'">
    <form #heroForm="ngForm">
      <div class="form-group">
        <label for="number">رقم الشراء</label>
        <input type="number" class="form-control" id="number" [ngClass]="{'error' : model.stnumber}" required disabled
          [(ngModel)]="model.number" name="number">
      </div>
      <div class="form-group">
        <label for="date">التاريخ</label>
        <input type="date" class="form-control" id="date" [ngClass]="{'error' : model.stdate}" required
          [(ngModel)]="model.date" name="date">
      </div>
      <div class="form-group">
        <label for="thesupplier">المورد</label>
        <select class="form-control" id="thesupplier" [ngClass]="{'error' : model.stthesupplier}" required
          [(ngModel)]="model.thesupplier" name="thesupplier">
          <option *ngFor="let supplier of heroService.suppliers" [value]="supplier.name">{{supplier.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="thestore">المخزن</label>
        <select class="form-control" id="thestore" [ngClass]="{'error' : model.stthestore}" required
          [(ngModel)]="model.thestore" name="thestore">
          <option *ngFor="let store of heroService.stores" [value]="store.name">{{store.name}}</option>
        </select>
      </div>
    </form>

    <div class="myinfotable">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">الصنف</th>
            <th scope="col">سعر الوحده</th>
            <th scope="col">الكميه</th>
            <th scope="col">الاجمالى</th>
            <th scope="col">ملاحظات</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <th class="info">
              <select class="form-control" id="item" [ngClass]="{'error' : model.stitem}" required
                [(ngModel)]="model.item" name="item">
                <option *ngFor="let item of heroService.categorys" [value]="item.name">{{item.name}}
                </option>
              </select>
            </th>
            <th class="info">
              <input type="number" class="form-control" id="salary" [ngClass]="{'error' : model.stsalary}" required
                [(ngModel)]="model.salary" name="salary">
            </th>
            <th class="info">
              <input type="number" class="form-control" id="quantity" [ngClass]="{'error' : model.stquantity}" required
                [(ngModel)]="model.quantity" name="quantity">
            </th>
            <th class="info">
              <input type="number" class="form-control" id="total" [ngClass]="{'error' : model.sttotal}" required
                disabled [(ngModel)]="model.quantity*model.salary" name="total">
            </th>
            <th class="info">
              <input type="text" class="form-control" id="notes" [ngClass]="{'error' : model.stnotes}" required
                [(ngModel)]="model.notes" name="notes">
            </th>

          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div *ngSwitchCase="'OutputComponent'">
    <form #heroForm="ngForm">
      <div class="form-group">
        <label for="number">رقم البيع</label>
        <input type="number" class="form-control" id="number" [ngClass]="{'error' : model.stnumber}" required
          [(ngModel)]="model.number" disabled name="number">
      </div>
      <div class="form-group">
        <label for="date">التاريخ</label>
        <input type="date" class="form-control" id="date" [ngClass]="{'error' : model.stdate}" required
          [(ngModel)]="model.date" name="date">
      </div>
      <div class="form-group">
        <label for="theclient">العميل</label>
        <select class="form-control" id="theclient" [ngClass]="{'error' : model.sttheclient}" required
          [(ngModel)]="model.theclient" name="theclient">
          <option *ngFor="let client of heroService.clients" [value]="client.name">
            {{client.name}}</option>
        </select>
      </div>
    </form>
    <div class="myinfotable">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">الصنف</th>
            <th scope="col">سعر الوحده</th>
            <th scope="col">الكميه</th>
            <th scope="col">الاجمالى</th>
            <th scope="col">ملاحظات</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <th class="info">
              <select class="form-control itemclas" id="item" (change)="onChange($event.target.selectedIndex)"
                [ngClass]="{'error' : model.stitem}" required [(ngModel)]="model.item" name="item">
                <option *ngFor="let item of heroService.categorys;let i = index" [id]="i" [value]="item.name">{{item.name}}
                </option>
              </select>
            </th>
            <th class="info">
              <input type="number" class="form-control" id="salary" disabled [ngClass]="{'error' : model.stsalary}"
                required [(ngModel)]="model.salary" name="salary">
            </th>
            <th class="info">
              <input type="number" class="form-control" id="quantity" [ngClass]="{'error' : model.stquantity}" required
                [(ngModel)]="model.quantity" name="quantity">
            </th>
            <th class="info">
              <input type="number" class="form-control" id="total" [ngClass]="{'error' : model.sttotal}" required disabled
                [(ngModel)]="model.quantity*model.salary" name="total">
            </th>
            <th class="info">
              <input type="text" class="form-control" id="notes" [ngClass]="{'error' : model.stnotes}" required
                [(ngModel)]="model.notes" name="notes">
            </th>

          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="myinfotable" *ngSwitchCase="'show/InputComponent'">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">الصنف</th>
          <th scope="col">سعر الوحده</th>
          <th scope="col">الكميه</th>
          <th scope="col">الاجمالى</th>
          <th scope="col">ملاحظات</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <th class="info">
            <input class="form-control" id="item" disabled required [(ngModel)]="model.item" name="item">
          </th>
          <th class="info">
            <input type="number" class="form-control" id="salary" disabled [(ngModel)]="model.salary" name="salary">
          </th>
          <th class="info">
            <input type="number" class="form-control" id="quantity" disabled [(ngModel)]="model.quantity"
              name="quantity">
          </th>
          <th class="info">
            <input type="number" class="form-control" id="total" disabled [(ngModel)]="model.quantity*model.salary"
              name="total">
          </th>
          <th class="info">
            <input type="text" class="form-control" id="notes" disabled [(ngModel)]="model.notes" name="notes">
          </th>

        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">رقم الشراء</th>
          <th scope="col">التاريخ</th>
          <th scope="col">المورد</th>
          <th scope="col">المخزن</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <th class="info">
            <input type="number" class="form-control" id="number" required disabled [(ngModel)]="model.number"
              name="number">
          </th>
          <th class="info">
            <input type="date" class="form-control" id="date" required disabled [(ngModel)]="model.date" name="date">
          </th>
          <th class="info">
            <input class="form-control" id="thesupplier" required disabled [(ngModel)]="model.thesupplier"
              name="thesupplier">
          </th>
          <th class="info">
            <input class="form-control" id="thestore" required disabled [(ngModel)]="model.thestore" name="thestore">
          </th>

        </tr>
      </tbody>
    </table>

  </div>

  <div class="myinfotable" *ngSwitchCase="'show/OutputComponent'">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">الصنف</th>
          <th scope="col">سعر الوحده</th>
          <th scope="col">الكميه</th>
          <th scope="col">الاجمالى</th>
          <th scope="col">ملاحظات</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <th class="info">
            <input class="form-control" id="item" disabled required [(ngModel)]="model.item" name="item">
          </th>
          <th class="info">
            <input type="number" class="form-control" id="salary" disabled [(ngModel)]="model.salary" name="salary">
          </th>
          <th class="info">
            <input type="number" class="form-control" id="quantity" disabled [(ngModel)]="model.quantity"
              name="quantity">
          </th>
          <th class="info">
            <input type="number" class="form-control" id="total" disabled [(ngModel)]="model.quantity*model.salary"
              name="total">
          </th>
          <th class="info">
            <input type="text" class="form-control" id="notes" disabled [(ngModel)]="model.notes" name="notes">
          </th>

        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">رقم البيع</th>
          <th scope="col">التاريخ</th>
          <th scope="col">العميل</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <th class="info">
            <input type="number" class="form-control" id="number" required disabled [(ngModel)]="model.number"
              name="number">
          </th>
          <th class="info">
            <input type="date" class="form-control" id="date" required disabled [(ngModel)]="model.date" name="date">
          </th>
          <th class="info">
            <input class="form-control" id="theclient" required disabled [(ngModel)]="model.theclient" name="theclient">
          </th>
        </tr>
      </tbody>
    </table>

  </div>


</div>



<div class="modal-footer" *ngIf="Id!='show/InputComponent'&&Id!='show/OutputComponent'">
  <button type="button" class="btn btn-outline-secondary" (click)="modalN.dismiss('cancel click')">Cancel</button>
  <i class="icon-minus mr-2" style="width: 20px" (click)="deletethis()"></i>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="oky()">Ok</button>
</div>





