 .icon-minus{
    color: rgb(238, 24, 9);
  }
   i{
    cursor: pointer;
  }
  .mr-2, .mx-2 {
    margin-right: .5rem!important;
    margin-left: .5rem!important;
}
.tbody{
  /* background-color: #5e7192; */
  background-color: transparent;
}
.myinfotable .tbody .info  input{
  width: 100%;
 
  border-radius:none!important;
}
.itemclas{
  width: 100%;
   padding: none !important;
  border-radius:none !important;
}
.myinfotable .table td, .table th {
  padding: 2px;
 
}
.table td, .table th {
  width: 15% !important;
}

/* border-collapse: collapse; */