/* _____________________________________home page______________  */

.back {
  width: 100%;
  height: 100%;
  background: url('../../../assets/pic/home.png') no-repeat fixed;

  background-size: cover;
}

nav {
  overflow: hidden;
  height: 105px;
  background-color: #1e184287;
  border: solid darkslateblue;
  border-radius: 0 0 30px 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.h1 {
  color: #ebd8d8;
  line-height: 100px;
  margin-right: 0;
  font-size: xx-large;
  text-align: center;
}

.home-page .container {
  width: 100%;
}

.home-page ul {
  list-style: none;
  line-height: 1.5em;
  direction: rtl;
  margin-top: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.home-page ul li {
  text-align: center;
  display: inline-block;
  border: 1px solid #999;
  font-size: x-large;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  border-width: 1px 0 3px 5px;
  margin-left: 10px;
  height: 70px;
  cursor: pointer;
}

.home-page ul li a {
  text-decoration: none;
  color: #fff;
}

.home-page ul li:hover {
  background-color: #999;
  text-decoration: none;
}

.home-page ul .active {
  background-color: #9ea4a8;
  font-size: x-large;
}

.home-page {
  top: 0;
  bottom: 0;
  background-size: cover;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(9, 9, 9, 0.8);
}
