<div class="back">

  <div class="home-page">
    <!-- الكلاس خاص بخلفية الصفحه الرئيسيه  -->
    <div class="overlay">

      <nav>
        <div class="row">
          <h1 class=" col-12 h1">{{ productId }}</h1>
        </div>
        <!--row -->
      </nav>



      <!-- ___________________________________________tools__________________ -->
      <section>
        <div class="container">
          <ul>
            <li (click)="sendDataEffect()" class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top" routerLink="categorys">
              <a>{{heroService.lang["Categorys"]}}</a> </li>
            <li (click)="sendDataEffect()" class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top" routerLink="/clients">
              <a>{{heroService.lang["Clients"]}}</a> </li>
            <li (click)="sendDataEffect()" class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top" routerLink="output">
              <a>{{heroService.lang["Out"]}}</a> </li>
            <li (click)="sendDataEffect()" class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top" routerLink="input">
              <a>{{heroService.lang["Input"]}}</a> </li>
            <li (click)="sendDataEffect()" class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top" routerLink="stores">
              <a>{{heroService.lang["Stores"]}}</a> </li>
            <li (click)="sendDataEffect()" class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top" routerLink="suppliers">
              <a>{{heroService.lang["Suppliers"]}}</a></li>


          </ul>


        </div>
      </section>


    </div>
  </div>
</div>
