<ng-template #dangerstuserName>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
        <path
            d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
        </svg>
    {{err.stuserName}}
</ng-template>
<ng-template #dangerstpass>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
        <path
            d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
        </svg>
    {{err.stpass}}
</ng-template>
<app-toasts></app-toasts>

<div class="xo"  dir="ltr">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Fajr Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span>
						<a href="https://www.facebook.com/mor.lena.33" target="_blank">
							<i class="fab icon-facebook-official"></i>
						</a>
					</span>
					<span>
						<a href="https://www.youtube.com/channel/UC7fpUDkbNDP2ioHvvTupSaQ" target="_blank" rel="noopener">
							<i class="fab icon-youtube-play"></i>
						</a>
						
					</span>
					<span>
						<a href="https://github.com/Nerosoft" target="_blank" rel="noopener">
							<i class="fab icon-github-circled"></i>
						</a>
						
					</span>
				</div>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="icon-user"></i></span>
						</div>
                        <input type="text" class="form-control" id="userName"
                        [ngClass]="{'error' : model.stuserName}"
                        required
                        [(ngModel)]="model.userName" name="userName">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="icon-key"></i></span>
						</div>
                        <input type="password" class="form-control" id="pass"
                        [ngClass]="{'error' : model.stpass}"
                        required
                        [(ngModel)]="model.pass" name="pass">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="button" (click)="login([dangerstuserName,dangerstpass])" value="Login" class="btn float-right login_btn">
                    </div>
                    <div class="form-group">
						<input (click)="sinIn([dangerstuserName,dangerstpass])" value="Sin In" class="btn float-left sin_btn ">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a >Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a >Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div>


<!-- <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe frameborder="0" height="100%" width="100%"
      src="https://youtu.be/PGyLlggd3n0?list=LL7fpUDkbNDP2ioHvvTupSaQ?autoplay=1&controls=0&showinfo=0&autohide=1">
    </iframe>
  </div>
   -->