<div class="ov">
    <!-- ___________________________________________tools__________________ -->


    <section class="tools">
        <div class="container">
            <hr>
            <i class="icon icon-help" (click)="information()"></i>
            <i class="icon icon-up-big"
            [ngClass]="{'active' : ngbnv2}"
            (click)="setnav(2)"></i>
            <i class="icon icon-down-big"
            [ngClass]="{'active' : ngbnv1}"
            (click)="setnav(1)"></i>
            <!-- <i class="fas fa-edit"></i> -->
            <i class="icon icon-minus" (click)="open()"></i>
            <!-- <i class="fas fa-plus-circle"></i>
            <i class="fas fa-print"></i> -->
            <i class="icon icon-plus"
                (click)="savaDAtaBase()"></i>
            <hr>
        </div>
    </section>

    <!-- __________________________company data________________ -->

    <section class="com-data">
        <div class="row">
            <div class="container">
                <ul ngbNav [activeId]="activeId" #nav="ngbNav" class="nav-tabs invisible" (navChange)="onNavChange($event)">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="fas fa-arrow-right" (click)="setpostion(0)"></a>
                        <ng-template ngbNavContent>
                            <h2 class="text-center">{{heroService.lang[Id]}} </h2>
                            <fieldset>
                                <form #heroForm="ngForm" >
                                    <div class="form-group">
                                        <label for="number">{{form.number}}</label>
                                        <input type="number" class="form-control" id="number"
                                            [ngClass]="{'error' : model.stnumber}" required [(ngModel)]="model.number"
                                            name="number">
                                    </div>
                                    <div class="form-group">
                                        <label for="date">{{form.date}}</label>
                                        <input type="date" class="form-control" id="date"
                                            [ngClass]="{'error' : model.stdate}" required [(ngModel)]="model.date"
                                            name="date">
                                    </div>
                                    <div class="form-group">
                                        <label for="thesupplier">{{form.thesupplier}}</label>
                                        <select class="form-control" id="thesupplier"

                                            [ngClass]="{'error' : model.stthesupplier}" required
                                            [(ngModel)]="model.thesupplier" name="thesupplier">
                                            <option *ngFor="let supplier of heroService.suppliers" [value]="supplier.name">
                                                {{supplier.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="thestore">{{form.thestore}}</label>
                                        <select class="form-control" id="thestore"

                                            [ngClass]="{'error' : model.stthestore}" required
                                            [(ngModel)]="model.thestore" name="thestore">
                                            <option *ngFor="let store of heroService.stores" [value]="store.name">{{store.name}}
                                            </option>
                                        </select>
                                    </div>
                                </form>
                                <div class="myinfotable">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">{{heroService.lang['nameCategory']}}</th>
                                              <th scope="col">{{heroService.lang['salaryCategory']}}</th>
                                              <th scope="col">{{heroService.lang['quantity']}}</th>
                                              <th scope="col">{{heroService.lang['total']}}</th>
                                              <th scope="col">{{heroService.lang['notes']}}</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody">
                                            <tr>
                                                <th class="info">
                                                    <select class="form-control itemclas" id="item"

                                                    [ngClass]="{'error' : model.stitem}" required
                                                    [(ngModel)]="model.item" name="item">
                                                    <option *ngFor="let item of heroService.categorys" [value]="item.name">{{item.name}}
                                                    </option>
                                                </select>
                                                </th>
                                                <th class="info">
                                                    <input type="number" class="form-control" id="salary"
                                                        [ngClass]="{'error' : model.stsalary}" required
                                                        [(ngModel)]="model.salary" name="salary">
                                                </th>
                                                <th class="info">
                                                    <input type="number" class="form-control" id="quantity"
                                                        [ngClass]="{'error' : model.stquantity}" required
                                                        [(ngModel)]="model.quantity" name="quantity">
                                                </th>
                                                <th class="info">
                                                    <input type="number" class="form-control" id="total"
                                                        [ngClass]="{'error' : model.sttotal}" required
                                                        disabled
                                                        [(ngModel)]="model.quantity*model.salary" name="total">
                                                </th>
                                                <th class="info">
                                                    <input type="text" class="form-control" id="notes"
                                                        [ngClass]="{'error' : model.stnotes}" required
                                                        [(ngModel)]="model.notes" name="notes">
                                                </th>

                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </fieldset>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="fas fa-arrow-left" (click)="setpostion(1)"></a>
                        <ng-template ngbNavContent>

                            <fieldset>
                                <app-ngbd-table-complete [hedTable]="hedTable" [show]='true' [info]="info" [This]='This'>
                                </app-ngbd-table-complete>
                            </fieldset>

                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>

            </div>
        </div>
    </section>


</div>
