.dark-modal{
  .modal-content {
    width: 100%;
    background-color: rgba(0,0,0,.5)!important;
    padding: 20px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    color: white;

    direction: ltr;
    border-top: 1px solid #7e3125;
    border-bottom: 1px solid #7e3125;
    border-radius: 7px;
    margin-bottom: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .modal-header,
  .modal-footer{
    border-bottom: none;
    border-top: none;
  }

}



