<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-key"></i></span>
            </div>
            <input type="password" class="form-control" id="pass"
            [ngClass]="{'error' : stpass}"
            required
            placeholder="كلمة المرور"
            [(ngModel)]="pass" name="pass">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-key"></i></span>
            </div>
            <input type="password" class="form-control" id="newpass"
            [ngClass]="{'error' :stnewpass}"
            required
            placeholder="كلمة المرور الحديثه"
            [(ngModel)]="newpass" name="newpass">
            
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">اغلاق</button>
    <button type="button" ngbAutofocus class="btn btn-danger"
     (click)="changePass()">{{nameAction}}</button>
  </div>