/* Filtering table demo */
span.ngb-highlight {
  background-color: yellow;
}

/* Complete table demo */
span.ngb-highlight {
  background-color: yellow;
}

.picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

.picsum-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.edit {
  display: inline-block;
  margin-left: 10px;
}
.edit .mr-2 {
  margin-left: 5px;
}
.edit .icon-edit {
  color: rgb(12, 211, 79);
}
.edit .icon-minus {
  color: rgb(238, 24, 9);
}
.edit i {
  cursor: pointer;
}

.headtable {
  background-color: #215f9d;
}
.headborder {
  border-color: #215f9d;
}

.text-nowrap {
  white-space: nowrap;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}
