/* ______________________________________________ الشركات المصنعه ________________________________________________________________ */
body {
  background: url('assets/pic/wood.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body,
html {
  height: 100vh;
}
#scrollbar {
  background-color: #382616;
}
#scrollbar::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

#scrollbar::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  width: 14px !important;
}

#scrollbar::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #64664f !important;
}

/* ________________tools *__________________ */

.tools {
  overflow: hidden;
  margin-top: 30px;
}

.tools .container {
  font-size: 25px;
  margin: 0 auto 14px auto;
  padding: 0px;
  text-align: center;
  perspective: 600px;
  border: 2px solid #fff;
  border-width: 10px 0;
  width: fit-content;
  border-radius: 20px;
}

.tools .container i {
  margin-left: 15px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tools .container i:first-of-type {
  color: blue;
  background-color: black;
}
.tools .container i:nth-of-type(1) {
  color: rgb(55, 47, 169);
  background-color: black;
}
.tools .container i:nth-of-type(2) {
  color: #555;
}
.tools .container i:nth-of-type(4) {
  color: rgb(238, 24, 9);
  background-color: black;
}
.tools .container i:last-of-type {
  color: rgb(12, 211, 79);
  background-color: black;
}

.icon:hover {
  border: 2px solid #007ee3 !important;
}

.com-data {
  text-align: right;
  font-size: 1.1rem;
  color: #fff;
  position: relative;
}

@media (max-width: 991px) {
  .tools .container i:last-of-type {
    color: rgb(12, 211, 79);
    margin-right: 5px;
  }

  .tools .container i {
    margin-left: 3px;
    padding: 3px;
    border-radius: 50%;
  }
}

/* ________________field set *__________________ */
.com-data .container {
  margin: 10px auto;
  padding: 0 20px;
  width: 100%;
}

.com-data h2 {
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 2rem;
}

.com-data fieldset {
  border-radius: 45px;
  margin-bottom: 5px;
  border: 2px solid #fff;
  border-width: 10px 0;
}

.com-data input,
.com-data select {
  width: 60%;
}
.com-data label {
  width: 40%;
  font-size: 2rem;
}
.com-data input {
  border-radius: 7px;
}
.com-data .form-group {
  display: flex;
  margin-top: 1rem;
}
@media (min-width: 787px) {
  .com-data label {
    font-size: 2rem;
  }
  .com-data h2 {
    font-size: 2rem;
  }
}
@media (max-width: 787px) {
  .com-data label {
    font-size: large;
  }
  .com-data h2 {
    font-size: large;
  }
}

/* ______________________________________________ my framework ________________________________________________________________ */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 80%;
}
.clearfix {
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.t-center {
  text-align: center;
}
fieldset:last-of-type {
  padding: 1rem;
}

.ov {
  overflow: hidden;
}

.progloade {
  display: none;
  height: 3px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 1;
  margin: 0;
}

.error {
  color: #000;
  background-color: #ddffff;
  border: 2px solid #a94442;
}

/* ------------------------slid --------*/

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  margin-left: 15px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.tools .active {
  color: #e91e63 !important;
  background-color: #000 !important ;
  border-color: #dee2e6 #dee2e6 #fff;
}
a {
  color: #495057;
  text-decoration: none;
  background-color: transparent;
}




